<%= simple_form_for [:admin, @location] do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :permalink, label: "Handle" %>
  <%= f.input :email %>
  <%= f.input :phone_number %>
  <%= f.input :website %>
  <%= f.input :employee_count %>
  <%= f.input :zip_code %>
  <%= f.input :cohort_schema, as: :text, input_html: { value: @location.cohort_schema&.to_json } %>
  <small>Example Cohort Schema
  <pre>
   {
     "Team": ["Business", "Ed"],
     "Timezone": ["EST", "CST", "MST", "PST"],
     "Education": ["undergrad", "professional", "medstudent"]
   }
  </pre>
  </small>
  <%= f.input :gdrive_staff_roster_id %>
  <%= f.input :gdrive_student_roster_id %>
  <h3>Reminders</h3>
  <%= f.input :reminders_enabled %>
  <%= f.input :daily_reminder_time %>
  <%= f.input :remind_mon %>
  <%= f.input :remind_tue %>
  <%= f.input :remind_wed %>
  <%= f.input :remind_thu %>
  <%= f.input :remind_fri %>
  <%= f.input :remind_sat %>
  <%= f.input :remind_sun %>
  <%= f.button :submit %>
<% end %>


<% if @location.errors.any? %>
    <%= @location.errors.to_json %>
  <% end %>
